/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a {
	color: #000;
	text-decoration: none;
}

li {
	list-style: none;
}

html, body {
	height: 100%
}

body {
	display: flex;
	margin: 0;
}

#disp {
	padding: 20px;
	flex-grow: 1;
	background: #333;
	* {
			color: #fff;
		}
		input {
			color: #000;
		}
	}

#side {
	display: flex;
	flex-direction: column;
	height: 100%;
	background: #fff;
	div {
		padding: 10px;
		display: flex;
		flex-direction: column;
		* {
			padding: 10px;
		}
	}
	#acct {
		margin-top: auto; 
	}
}

#tog {
	display: flex;
	padding: 10px;
	cursor: pointer;
	align-items: center;
	img {
		width: 6px;
	}
}

#color {
	#color_box {
		display: inline-block;
		padding: 10px;
		margin-bottom: -6px;
	}
}
