// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#links {
	flex-grow: 1;
	.link {
		padding: 10px;
		margin: 10px;
		.info {
			background: #333;
			display: none;
		}
		&:hover {
			.info {
				display: initial;
			}
		}
	}
}
